.overlay

header
  .container 
    .header 
      .logo.me-auto
        a(href="") 
          img(src="src/img/logo.png", alt="BtcBam Logo")
      nav.ms-auto.main-menu
        ul 
          li.active
            a.custom-nav-link(href="") IEO 
          li 
            a.custom-nav-link(href="") Features
          li 
            a.custom-nav-link(href="") About 
          li 
            a.custom-nav-link(href="") Coin 
          li 
            a.custom-nav-link(href="") Roadmap 
          li 
            a.custom-nav-link(href="") Partners 
          li 
            a.custom-nav-link(href="#news") News 
          li 
            a.line-btn.custom-btn.light-btn.ms-3(href="") BUTTON
      .mobile-header-buttons 
        a.line-btn.custom-btn.light-btn.ms-3(href="") BUTTON
        .mobile-menu-btn 
          i.ri-menu-fill

.mobile-menu 
  .logo 
    img(src="src/img/logo.png", alt="")
  .mobile-menu-close-btn 
    i.ri-close-line
  nav 
    ul 
      li 
        a.collapsed(data-bs-toggle='collapse' href='#multiCollapseExample1' role='button' aria-expanded='false' aria-controls='multiCollapseExample1') Collapse Item
          i.ri-arrow-right-s-line.ms-auto
        #multiCollapseExample1.collapse.multi-collapse
          ul.ps-3
            li 
              a(href="") - Menu Item
            li 
              a(href="") - Menu Item
            li 
              a(href="") - Menu Item

      li 
        a(href="") Menu Item
      li 
        a(href="") Menu Item
      li 
        a(href="") Menu Item
      li 
        a(href="") Menu Item
      li 
        a(href="") Menu Item
      li 
        a(href="") Menu Item
      li 
        a.custom-btn(href="") BUTTON
