.index-container 
  .img
  .container-xxl(stlye="position:relative")
    .content 
      h2
        | Lorem ipsum 
        br 
        | dolor sit amet.
      p.mt-4.mb-5 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores omnis voluptate doloribus. Rem error rerum maxime, fugiat consequatur delectus voluptatibus.
      a.custom-btn.line-btn.light-btn.me-4(href="") Explorer
      a.custom-btn.fill-btn(href="")
        i.ri-github-line.me-2
        | Github

.gap
.container-xxl
  .section-one.two-columns-section
    .text-area
      .section-text 
        h2 About Us 
        h3 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nam esse perspiciatis dolor nostrum, alias, cupiditate animi unde blanditiis ab incidunt eos placeat tempore nobis excepturi corporis repellendus nihil sint accusamus in numquam quas, quos molestias earum. Sit, error necessitatibus!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, hic ad maxime numquam explicabo error nostrum aperiam deserunt! Minima sapiente quidem perspiciatis vel libero alias voluptate porro ut unde iste. Provident accusantium rem suscipit! Odit hic, tempora incidunt quae, laboriosam dolorum ullam mollitia saepe soluta totam velit id laborum repellat.
    .img-area
      img(src="src/img/image1.png", alt="")
.gap 

.container-xxl
  .section-two 
    .section-text.mb-4
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .section-video
      a(data-fancybox='video-gallery' data-src='https://www.youtube.com/embed/8FYM27VvgRc?wmode=transparent&autoplay=1')
        img(src='https://btcbam.com/wp-content/uploads/2021/03/1-800x511.png')
        .hover-area 
          i.ri-play-circle-line
          span Lorem, ipsum dolor.
      a(data-fancybox='video-gallery' data-src='https://youtu.be/SvNfWuTe2I4')
        img(src='https://btcbam.com/wp-content/uploads/2021/03/2-800x511.png')
        .hover-area 
          i.ri-play-circle-line
          span Lorem, ipsum dolor.
      a(data-fancybox='video-gallery' data-src='https://youtu.be/WRTrK8-1UKk')
        img(src='https://btcbam.com/wp-content/uploads/2021/03/3-800x511.png')
        .hover-area 
          i.ri-play-circle-line
          span Lorem, ipsum dolor.
      a(data-fancybox='video-gallery' data-src='https://www.youtube.com/embed/8FYM27VvgRc?wmode=transparent&autoplay=1')
        img(src='https://btcbam.com/wp-content/uploads/2021/03/1-800x511.png')
        .hover-area 
          i.ri-play-circle-line
          span Lorem, ipsum dolor.
      a(data-fancybox='video-gallery' data-src='https://youtu.be/SvNfWuTe2I4')
        img(src='https://btcbam.com/wp-content/uploads/2021/03/2-800x511.png')
        .hover-area 
          i.ri-play-circle-line
          span Lorem, ipsum dolor.
      a(data-fancybox='video-gallery' data-src='https://youtu.be/WRTrK8-1UKk')
        img(src='https://btcbam.com/wp-content/uploads/2021/03/3-800x511.png')
        .hover-area 
          i.ri-play-circle-line
          span Lorem, ipsum dolor.
.gap 

.container-xxl
  .section-three.two-columns-section
    .img-area
      img(src="src/img/image2.png", alt="")
    .text-area.px-3
      .section-text 
        h2 About Us 
        h3 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?

.gap 

.container-xxl
  .section-four.two-columns-section
    .text-area.px-3
      .section-text 
        h2 About Us 
        h3 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?
      .check-item 
        i.ri-checkbox-circle-fill
        span Lorem ipsum dolor sit amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, fugiat?

    .img-area
      img(src="src/img/image3.png", alt="")

.gap 


.section-five
  .container-xxl 
    .section-five-area.two-columns-section
      .text-area 
        h2 Multi-wallet Ecosystem
        p.mb-5.mt-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ab? Maxime nesciunt soluta repellat deleniti!
        .line-icon.text-center.d-inline-block.me-5
          img(src="src/img/desktop.svg", alt="Desktop Icon", height="60", width="60")
          span.d-block.mt-3 Desktop
        .line-icon.text-center.d-inline-block.me-5
          img(src="src/img/mobile.svg", alt="Mobile Icon", height="60", width="60")
          span.d-block.mt-3 Mobile
        .line-icon.text-center.d-inline-block.me-5
          img(src="src/img/web.svg", alt="Web Icon", height="60", width="60")
          span.d-block.mt-3 Web
        .line-icon.text-center.d-inline-block.me-5
          img(src="src/img/hardware.svg", alt="Hardware Icon", height="60", width="60")
          span.d-block.mt-3 Hardware
        br
        a.custom-btn.mt-5(href="") Download Page
      .img-area 
        img(src="src/img/image8.png", alt="")


.gap 

.container-xxl
  .section-text 
    h2 About Us 
    h3 Lorem ipsum dolor sit amet.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
  .section-six 
    .custom-box 
      img(src="src/img/lamb.svg", alt="")
      h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis veritatis perferendis culpa fugit molestias nihil nulla vitae deserunt perspiciatis.
    .custom-box 
      img(src="src/img/lamb.svg", alt="")
      h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis veritatis perferendis culpa fugit molestias nihil nulla vitae deserunt perspiciatis.
    .custom-box 
      img(src="src/img/lamb.svg", alt="")
      h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis veritatis perferendis culpa fugit molestias nihil nulla vitae deserunt perspiciatis.
    .custom-box 
      img(src="src/img/lamb.svg", alt="")
      h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis veritatis perferendis culpa fugit molestias nihil nulla vitae deserunt perspiciatis.
    .custom-box 
      img(src="src/img/lamb.svg", alt="")
      h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis veritatis perferendis culpa fugit molestias nihil nulla vitae deserunt perspiciatis.
    .custom-box 
      img(src="src/img/lamb.svg", alt="")
      h4 Lorem ipsum dolor sit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem corporis veritatis perferendis culpa fugit molestias nihil nulla vitae deserunt perspiciatis.

.gap 

.container-xxl 
  .section-seven.logo-section
    .section-text 
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .logo-area 
      img(src="src/img/probit.png", alt="")
      img(src="src/img/binance.png", alt="")
      img(src="src/img/coinmarketcap.png", alt="")
      img(src="src/img/coinpayments.png", alt="")
      img(src="src/img/probit.png", alt="")
      img(src="src/img/binance.png", alt="")
      img(src="src/img/coinmarketcap.png", alt="")
      img(src="src/img/coinpayments.png", alt="")
    

.gap

.container-xxl 
  .section-eight 
    .section-text.mb-5
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .feature-area 
      .feature-item 
        img.mb-3(src="src/img/feature.png", alt="", height="70", width="70")
        h4 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quis perspiciatis molestiae animi adipisci vitae, quo molestias laudantium sapiente, dicta tenetur quaerat consectetur obcaecati! Ea odio ducimus nobis voluptatum debitis?
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
      .feature-item 
        img.mb-3(src="src/img/feature.png", alt="", height="70", width="70")
        h4 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quis perspiciatis molestiae animi adipisci vitae, quo molestias laudantium sapiente, dicta tenetur quaerat consectetur obcaecati! Ea odio ducimus nobis voluptatum debitis?
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
      .feature-item 
        img.mb-3(src="src/img/feature.png", alt="", height="70", width="70")
        h4 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quis perspiciatis molestiae animi adipisci vitae, quo molestias laudantium sapiente, dicta tenetur quaerat consectetur obcaecati! Ea odio ducimus nobis voluptatum debitis?
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
      .feature-item 
        img.mb-3(src="src/img/feature.png", alt="", height="70", width="70")
        h4 Lorem, ipsum dolor.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quis perspiciatis molestiae animi adipisci vitae, quo molestias laudantium sapiente, dicta tenetur quaerat consectetur obcaecati! Ea odio ducimus nobis voluptatum debitis?
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
        .mini-check 
          i.ri-checkbox-line
          span Lorem ipsum dolor sit amet consectetur.
.gap 

.container-xxl
  .swiper-one.section-nine.custom-swiper
    .section-text.mb-5
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .swiper-wrapper
      .swiper-slide.text-center
        img(src="https://profilemagazine.com/wp-content/uploads/2020/04/Ajmere-Dale-Square-thumbnail.jpg", alt="")
        h4 Gökhan Alkan
        .social-accounts 
          a(href="") 
            i.ri-facebook-fill
          a(href="") 
            i.ri-linkedin-fill
          a(href="") 
            i.ri-instagram-fill
          a(href="") 
            i.ri-twitter-fill
        .user-info
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt illo, ut repellat, laboriosam velit natus voluptates iure alias facilis, totam aperiam itaque maiores rerum libero corporis laudantium id quos. Inventore nam rerum voluptatum quae corporis deserunt? Itaque nisi amet adipisci reprehenderit ut, eius mollitia nulla veritatis fugit impedit distinctio.
      .swiper-slide.text-center
        img(src="https://profilemagazine.com/wp-content/uploads/2020/04/Ajmere-Dale-Square-thumbnail.jpg", alt="")
        h4 Gökhan Alkan
        .social-accounts 
          a(href="") 
            i.ri-facebook-fill
          a(href="") 
            i.ri-linkedin-fill
          a(href="") 
            i.ri-instagram-fill
          a(href="") 
            i.ri-twitter-fill
        .user-info
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt illo, ut repellat, laboriosam velit natus voluptates iure alias facilis, totam aperiam itaque maiores rerum libero corporis laudantium id quos. Inventore nam rerum voluptatum quae corporis deserunt? Itaque nisi amet adipisci reprehenderit ut, eius mollitia nulla veritatis fugit impedit distinctio.
      .swiper-slide.text-center
        img(src="https://profilemagazine.com/wp-content/uploads/2020/04/Ajmere-Dale-Square-thumbnail.jpg", alt="")
        h4 Gökhan Alkan
        .social-accounts 
          a(href="") 
            i.ri-facebook-fill
          a(href="") 
            i.ri-linkedin-fill
          a(href="") 
            i.ri-instagram-fill
          a(href="") 
            i.ri-twitter-fill
        .user-info
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt illo, ut repellat, laboriosam velit natus voluptates iure alias facilis, totam aperiam itaque maiores rerum libero corporis laudantium id quos. Inventore nam rerum voluptatum quae corporis deserunt? Itaque nisi amet adipisci reprehenderit ut, eius mollitia nulla veritatis fugit impedit distinctio.
      .swiper-slide.text-center
        img(src="https://profilemagazine.com/wp-content/uploads/2020/04/Ajmere-Dale-Square-thumbnail.jpg", alt="")
        h4 Gökhan Alkan
        .social-accounts 
          a(href="") 
            i.ri-facebook-fill
          a(href="") 
            i.ri-linkedin-fill
          a(href="") 
            i.ri-instagram-fill
          a(href="") 
            i.ri-twitter-fill
        .user-info
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur nesciunt illo, ut repellat, laboriosam velit natus voluptates iure alias facilis, totam aperiam itaque maiores rerum libero corporis laudantium id quos. Inventore nam rerum voluptatum quae corporis deserunt? Itaque nisi amet adipisci reprehenderit ut, eius mollitia nulla veritatis fugit impedit distinctio.


    .swiper-pagination-one.text-center.custom-swiper-pagination
    .swiper-one-prev.custom-swiper-btns.custom-swiper-prev
      i.ri-arrow-drop-left-line
    .swiper-one-next.custom-swiper-btns.custom-swiper-next
      i.ri-arrow-drop-right-line

.gap 

.container-xxl
  .section-text.mb-5
    h2 About Us 
    h3 Lorem ipsum dolor sit amet.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
  .vertical-tabs-area.section-ten
    ul#pills-tab.nav.nav-pills.mb-3.vertical-tabs(role='tablist')
      li.nav-item(role='presentation')
        button#pills-one-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-one' type='button' role='tab' aria-controls='pills-one' aria-selected='true') 1
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-two-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-two' type='button' role='tab' aria-controls='pills-two' aria-selected='false') 2
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-three-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-three' type='button' role='tab' aria-controls='pills-three' aria-selected='false') 3
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-four-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-four' type='button' role='tab' aria-controls='pills-four' aria-selected='true') 4
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-five-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-five' type='button' role='tab' aria-controls='pills-five' aria-selected='false') 5
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-six-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-six' type='button' role='tab' aria-controls='pills-six' aria-selected='false') 6
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-seven-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-seven' type='button' role='tab' aria-controls='pills-seven' aria-selected='true') 7
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-eight-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-eight' type='button' role='tab' aria-controls='pills-eight' aria-selected='false') 8
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-nine-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-nine' type='button' role='tab' aria-controls='pills-nine' aria-selected='false') 9
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
      li.nav-item(role='presentation')
        button#pills-ten-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-ten' type='button' role='tab' aria-controls='pills-ten' aria-selected='false') 10
        .text 
          b Q2 / 2019
          h5 Lorem ipsum dolor sit amet consectetur.
    #pills-tabContent.tab-content.vertical-tabs-content
      #pills-one.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-one-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-two.tab-pane.fade(role='tabpanel' aria-labelledby='pills-two-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-three.tab-pane.fade(role='tabpanel' aria-labelledby='pills-three-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-four.tab-pane.fade(role='tabpanel' aria-labelledby='pills-four-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-five.tab-pane.fade(role='tabpanel' aria-labelledby='pills-five-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-six.tab-pane.fade(role='tabpanel' aria-labelledby='pills-six-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-seven.tab-pane.fade(role='tabpanel' aria-labelledby='pills-seven-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-eight.tab-pane.fade(role='tabpanel' aria-labelledby='pills-eight-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-nine.tab-pane.fade(role='tabpanel' aria-labelledby='pills-nine-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")
      #pills-ten.tab-pane.fade(role='tabpanel' aria-labelledby='pills-ten-tab')
        .section-text.mb-5
          h2 About Us 
          h3 Lorem ipsum dolor sit amet.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque
          img(src="src/img/coin.svg", alt="")


.gap 
.container-xxl 
  .section-eleven 
    .section-text.mb-5
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .section-eleven-area.d-flex.align-items-center.flex-wrap
      a.red(href="#" download)
        img(src="src/img/pdf-icon.svg", alt="#")
        | Whitepaper
      a.red(href="#" download)
        img(src="src/img/pdf-icon.svg", alt="#")
        | Whitepaper
      a.red(href="#" download)
        img(src="src/img/pdf-icon.svg", alt="#")
        | Whitepaper


.gap 

.container-xxl 
  .logo-section
    .section-text 
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .logo-area 
      img(src="src/img/probit.png", alt="")
      img(src="src/img/binance.png", alt="")
      img(src="src/img/coinmarketcap.png", alt="")
      img(src="src/img/coinpayments.png", alt="")

.gap 

.container-xxl 
  .logo-section
    .section-text 
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .logo-area 
      img(src="src/img/probit.png", alt="")
      img(src="src/img/binance.png", alt="")
      img(src="src/img/coinmarketcap.png", alt="")
      img(src="src/img/coinpayments.png", alt="")
      img(src="src/img/probit.png", alt="")
      img(src="src/img/binance.png", alt="")
      img(src="src/img/coinmarketcap.png", alt="")
      img(src="src/img/coinpayments.png", alt="")

.gap 

.container-xxl 
  .section-twelve
    .section-text 
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .dynamic-counter 
      .item 
        b +120
          span B
        .text 
          h4 Lorem, ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, at!
      .item 
        b 120
          span K+
        .text 
          h4 Lorem, ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, at!
      .item 
        b 420
          span +
        .text 
          h4 Lorem, ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, at!

.gap 

.container-xxl
  .swiper-two.section-thirteen.custom-swiper
    .section-text.mb-5
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .swiper-wrapper
      .swiper-slide
        img(src="https://www.ideasoft.com.tr/wp-content/uploads/2016/09/banner-tasarimi-1024x536.jpg", alt="")
        .date 20/02/2021
        h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ab numquam voluptate distinctio dolor suscipit saepe quam assumenda aliquid eaque?
      .swiper-slide
        img(src="https://www.ideasoft.com.tr/wp-content/uploads/2016/09/banner-tasarimi-1024x536.jpg", alt="")
        .date 20/02/2021
        h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ab numquam voluptate distinctio dolor suscipit saepe quam assumenda aliquid eaque?
      .swiper-slide
        img(src="https://www.ideasoft.com.tr/wp-content/uploads/2016/09/banner-tasarimi-1024x536.jpg", alt="")
        .date 20/02/2021
        h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ab numquam voluptate distinctio dolor suscipit saepe quam assumenda aliquid eaque?
      .swiper-slide
        img(src="https://www.ideasoft.com.tr/wp-content/uploads/2016/09/banner-tasarimi-1024x536.jpg", alt="")
        .date 20/02/2021
        h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ab numquam voluptate distinctio dolor suscipit saepe quam assumenda aliquid eaque?
      .swiper-slide
        img(src="https://www.ideasoft.com.tr/wp-content/uploads/2016/09/banner-tasarimi-1024x536.jpg", alt="")
        .date 20/02/2021
        h4 Lorem ipsum dolor sit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ab numquam voluptate distinctio dolor suscipit saepe quam assumenda aliquid eaque?

    .swiper-pagination-two.text-center.custom-swiper-pagination
    .swiper-two-prev.custom-swiper-btns.custom-swiper-prev
      i.ri-arrow-drop-left-line
    .swiper-two-next.custom-swiper-btns.custom-swiper-next
      i.ri-arrow-drop-right-line

.gap 

.container-xxl
  .swiper-two.section-fourteen.custom-swiper
    .section-text.mb-5
      h2 About Us 
      h3 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates totam doloremque repudiandae error accusamus odit sed temporibus aut deleniti voluptate.
    .portfolio-section 
      .item 
        a(href="https://lipsum.app/id/4/500x250", data-fancybox="gallery")
          img(src="https://lipsum.app/id/4/500x250", alt="")
          .hover-area 
            i.ri-add-line
            p Lorem ipsum dolor sit amet.
      .item 
        a(href="https://lipsum.app/id/4/500x250", data-fancybox="gallery")
          img(src="https://lipsum.app/id/4/500x250", alt="")
          .hover-area 
            i.ri-add-line
            p Lorem ipsum dolor sit amet.
      .item 
        a(href="https://lipsum.app/id/4/500x250", data-fancybox="gallery")
          img(src="https://lipsum.app/id/4/500x250", alt="")
          .hover-area 
            i.ri-add-line
            p Lorem ipsum dolor sit amet.
      .item
        a(href="https://lipsum.app/id/4/500x250", data-fancybox="gallery")
          img(src="https://lipsum.app/id/4/500x250", alt="")
          .hover-area 
            i.ri-add-line
            p Lorem ipsum dolor sit amet.

.gap 






